<div class="label">
	<span>Valor inicial do proximo caixa</span>
</div>

<div style="text-align: center; width: 400px; margin: 1em auto;">
	<%= form_tag new_cash_path, method: :get do %>
		<p><%= text_field_tag :next, nil, placeholder: 'Valor inicial do proximo caixa', class: 'form-control' %></p>
		<p><%= button_to :Fechar, nil, class: 'btn btn-success' %></p>
	<% end %>
</div>