/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* set default */

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url("background.png"); 
	background-color: #fff5ee;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* ------------------------------ */

/* Barra de Menus DropDown */

.menus {
	margin-top: 0;
	width: 100%;
	height: 40px;
	background: #222;
	font-family: "Arial";
	padding-left: 15%;
}

.menus ul {
	list-style: none;
	position: relative;
}

.menus ul li {
	width: 180px;
	float: left;
}

.menus a {
	padding: 10px 15px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	background: #222;
	color: #F4DA72;
}

.menus ul ul {
	position: absolute;
	visibility: hidden;
}

.menus ul li:hover ul {
	visibility: visible;
}

.menus a:hover {
	background: #F4DA72;
	color: #222;
}

.menus ul ul li {
	float: none;
	border-bottom: solid 1px #ccc;
}

.menus ul ul li a {
	background: #6E6E6E;
}

label[for="bt_menu"] {
	padding: 5px;
	background: #222;
	color: white;
	font-family: 'Arial';
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

#bt_menu {
	display: none;
}

label[for="bt_menu"] {
	display: none;
}


/* --------------------------------- */


/* Area da Logo */

#barra_de_logo {
	width: 100%;
	height: 100px;
	background: #222;
	color: white;
	margin-bottom: 0;
}

.logo {
	float: left;
	text-align: center;
	padding: 0 0.7em;
	height: 100%;
	padding-left: 40%;
	margin: auto 0;
}

.apple {
	float: left;
	text-align: center;
}

.apple a {
	float: left;
	text-align: center;
	padding-top: 4px;
	padding-right: 2em;
	padding-bottom: 0.4em;	
}

/* ------------------------------------ */

/* area de login */

.login_area {
	width: 35%;
	margin: 0 auto;
}

.tela_login {
	margin: 1em auto;
	padding-left: 40%;
}

.form_login {
	margin: 0px auto;
	padding-left: 25%;
}

.info-login {
	width: 25em;
	height: 3em;
	float: right;
	padding: 0.5em 0.3em;
}

.info-login img {
	float: right;
	margin: 0;
}

.info-login span {
	float: right;
	margin-right: 1px;
}

.info-login a {
	float: right;
	margin-left: 8px;
}

.current_user {
	margin-left: 0.5em;
	margin-right: 2em;
	color: white;
	font-size: 1.2em;
}

/* ------------------------------- */

.container-primary {
	min-height: 70em;
}

.container-big {
	width: 97%;
	margin: 0px auto;
}

.container-small {
	width: 50%;
	margin: 0px auto;
	padding-left: 220px;
}

.black {
	background: #222;
	color: white;
}

.footer-copyright {
	padding: 1em;
}

.label {
	float: left;
	width: 100%;
	margin: 5em auto;
}

.label span {
	font-size: 1.4em;
	color: #F4DA72;
	margin-top: 3em;
	padding: 0.7em 5em;
	background: #222;
}

.table {
	background: #fff5ee;
}

.table thead{
	background: #E0E0F8;
}

.central {
	width: 70%;
	padding: 0px auto;
}

.options {
	margin-bottom: 1.5em;
}

.buttons {
	width: 130px;
	text-align: center;
}

.btn-black {
	width: 40%;
	color: #F4DA72;
	font-weight: bold;
	background: #1c1c1c;
	padding: 0.5em 1em;
	margin-top: 2em;
	margin-left: 30%;
}

.sale {
	width: 70%;
	margin: 7em auto;
	padding: 1em 1.5em;
	background: #fff5ee;
	border-radius: 1em;
}

.hide-field input {
	width: 10px;
	visibility: hidden;
}

.box-cash {
	width: 50%;
	border: solid;
	float: left;
	margin-left: 10%;
	background: #1c1c1c;
	padding: 3em;
}

.box-cash h2 {
	font-size: 1.5em;
	width: 80%;
	text-align: center;
	margin-left: 10%;
	padding: 0.7em;
	border-radius: 1em;
	font-weight: bold;
	background: #F4DA71;
}

.box-cash-2 {
	float: left;
	width: 30%;
	margin-left: 5%;
	padding-top: 3em;
}

.box-cash-2 .btn {
	font-size: 1.3em;
	width: 50%;
}

.box-resume {
	width: 33.33%;
	float: left;
	text-align: justify;
	background: #1c1c1c;
	color: #fff;
	height: 230px;
	padding-top: 1em;
	padding-left: 5em;
}

.box-report-salesman {
	width: 80%;
	margin: 4em auto;
	background: #1c1c1c;
	padding: 1em;
	border-radius: 1em;
}

.box-report-salesman p {
	text-align: center;
	background: #F4DA71;
	font-weight: bold;
	font-size: 1.3em;
	width: 80%;
	margin: 1em auto;
	padding: 0.5em;
	border-radius: 1em;
}

.liq {
	background: #F4DA71;
	color: black;
}

.user {
	text-align: right;
	padding-top: 1em;
	padding-right: 1em;
}

/* small screen */

@media(max-width: 800px) {

	#barra_de_logo {
		display: none;
	}

	.menus {
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
		padding-left: 0px;
	}

	.menus ul li {
		width: 100%;
		float: none;
	}

	.menus ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}

	.menus ul li:hover ul {
		height: auto;
		max-height: 200px;
	}

	#bt_menu:checked ~ .menus {
		margin-left: 0;
	}

	label[for="bt_menu"] {
	display: block;
	}
}

/* ------------------------- */